---
import CertCard from "../CertificateMockup";

---

<section class="dark bg-background min-h-[70vh] w-full px-15 flex items-center justify-center ">

<div class="w-full animate-sink animate-infinite animate-iteration-count-infinite animation-duration-3000 max-w-[1980px] flex flex-row gap-5 text-center items-center py-6 justify-center h-full relative z-10">
  <CertCard client:load />
</div>
</section>