---
import DotGrid from "@/components/DotGrid";
import AnalyticTabs from "../AnalyticsTabs";

const { event } = Astro.props;

const apiURL = import.meta.env.VITE_API_URL ?? "http://localhost:5001";

const cookieHeader = Astro.request.headers.get("cookie") ?? "";


---

<section>
  <div class="dark bg-background min-h-screen w-full overflow-hidden relative p-6">

    <div class="absolute inset-0 w-full h-full z-0 opacity-40">
      <DotGrid
        client:load
        dotSize={3}
        gap={28}
        baseColor="#3d3860"
        activeColor="#7c3aed"
        proximity={0}
        speedTrigger={80}
        shockRadius={0}
      />
    </div>

    <div class="relative z-10 p-8">
      <AnalyticTabs eventData={event} apiURL={apiURL} cookieHeader={cookieHeader} client:load />
    </div>

  </div>
</section>