---
import DotGrid from "@/components/DotGrid";

const {event} = Astro.props;
console.log(event);
---
<section>
  <div class="dark bg-background min-h-screen w-full overflow-hidden relative">


    <div class="absolute inset-0 w-full h-full z-0 opacity-40">
      <DotGrid
        client:load
        dotSize={3}
        gap={28}
        baseColor="#3d3860"
        activeColor="#7c3aed"
        proximity={0}
        speedTrigger={80}
        shockRadius={0}
      />
    </div>



    <div class="relative z-10 flex flex-col text-accent-foreground p-8">
      <div id="tags" class="flex gap-2 mb-4">
          
      </div>
      <h1 class="text-3xl font-bold text-primary">{event.title}</h1>

    </div>


</section>